.header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 4.063rem;
    /* background-color: antiquewhite; */
    z-index: 2;
    border-bottom: 0.063rem solid rgb(240, 232, 255);
}

.header_div-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_div-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 4.063rem;
    font-size: 1.563rem;
    font-weight: 600;
    color: white;
    /* background-color: aliceblue; */
}

.header_div-menu{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 4.063rem;
    /* background-color: aquamarine; */
    padding-right: 1.875rem;
}

.header_div-headBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 4.063rem; */
    /* background-color: bisque; */
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    margin: 1rem;
    cursor: pointer;
}

.header_div-headBtn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #7893ff;
    margin: 1rem;
    cursor: pointer;
}

.header_span-headBtn{
    color: #B5B5B5;
}

.header_span-headBtn:hover {
    color: #b6c4ff;
}

.header_span-headBtn.Current {
    color: #7893ff;
}

.header_div-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 4.063rem;
    /* background-color: rgb(166, 134, 95); */
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
}