@media all and (min-width:1024px) {
    .title_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.125rem;
        height: 5rem;
        border-bottom: 0.063rem solid #859EFF;

        /* border: 1px solid aquamarine; */
    }

    .title_div>span {
        font-size: 2.188rem;
        font-weight: bold;
    }
}

@media all and (min-width:768px) and (max-width:1023px) {
    .title_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.063rem;
        height: 3.75rem;
        border-bottom: 0.063rem solid #859EFF;

        /* border: 1px solid aquamarine; */
    }

    .title_div>span {
        font-size: 1.875rem;
        font-weight: bold;
    }
}

@media all and (min-width:480px) and (max-width:767px) {
    .title_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.063rem;
        height: 3.75rem;
        border-bottom: 0.063rem solid #859EFF;

        /* border: 1px solid aquamarine; */
    }

    .title_div>span {
        font-size: 1.563rem;
        font-weight: bold;
    }
}

@media all and (max-width:479px) {
    .title_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.625rem;
        height: 3.75rem;
        border-bottom: 0.063rem solid #859EFF;

        /* border: 1px solid aquamarine; */
    }

    .title_div>span {
        font-size: 1.25rem;
        font-weight: bold;
    }
}